HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache0

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

logs/
*.log
*.gz
*.meta
dataSources*.xml
.idea/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

scripts/config.js
secrets.properties

application.properties
# application-local.properties
# -> LEMBRA DE REMOVER O COMENTÁRIO APÓS O PULL DO PESSOAL DO GRUPO

